<!DOCTYPE html>
<html lang="es">
    
<!-- INCLUDES HEAD-->
<head>
  <title>Editar</title>
  <link rel="stylesheet" href="/css/styles.css">

<%- include('../partials/head') %>

</head>
  <body>
     <!-- INCLUDES HEADER-->
   <%- include('../partials/headergeneral') %>
<br>
<br>
<h2 style="text-align: center;" class="iniciarSesion>"><strong>Editar perfil de <%=usuario.nombre%> </h2></strong>
<div class="login-page">
   <div class="form">
      <form class="register-form" action="/users/edit/<%= usuario.id %>?_method=PUT" method="POST" > 
        <div class="perfil">
        <img id="imagen-producto" src="/images/avatars/<%=usuario.avatar%>">
        </div>
        <br>
        <label  class="register-form">Nombre</label>
        <input type="text" placeholder="Nombre" name= "nombre" value="<%=usuario.nombre%>"/>
        <label  class="register-form">Apellido</label>
        <input type="text" placeholder="Apellido" name="apellido" value="<%=usuario.apellido%>"/>
        <label  class="register-form">Fecha de Cumplea単os</label>
        <input type="date" placeholder="Cumplea単os" name="cumpleanos" value="<%=usuario.cumpleanos%>">
        <label  class="register-form">Direccion de Envios</label>
        <input type="text" placeholder="Direccion de residencia" name="direccion" value="<%=usuario.direccion%>"/>
        <label  class="register-form">Contrase単a</label>
        <input type="password" placeholder="Contrase単a"  name="contrasena" minlength="6"required/>
        <button type="submit">Guardar Cambios</button>
      </form>
    </div>
  </div>
 <!--INCLUDES FOOTER-->
  <%- include('../partials/footer') %>
 