<!DOCTYPE html>
<html lang="es">
    
<!-- INCLUDES HEAD-->
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/css/styles.css">

<%- include('../partials/head') %>

</head>
  <body>
     <!-- INCLUDES HEADER-->
   <%- include('../partials/header') %>
<br>
<br>
<h2 style="text-align: center;" class="iniciarSesion>"><strong>Iniciar Sesión</h2></strong>
<div class="login-page">
    <div class="form">
      <form class="login-form" action="/users/login" method="POST">
        <% if (locals.errors && errors.email) { %>
          <h3 style="color:red"> <%= errors.email.msg %> </h3> 
        <% } %>

        <input type="Correo" placeholder="Correo" name="email"  value="<%= locals.old && old.email %>"/>
        <input type="Contraseña" placeholder="Contraseña" name="contrasena" />
        <label for=""> Recordar mi Usuario</label>
        <input type="checkbox" name="recordame" />
        <button>Iniciar Sesión</button>
        <p class="message">No está registrado? <a href="/users/registro">Crear usuario</a></p>
      </form>
    </div>
  </div>
  <!-- INCLUDES FOOTER-->
  <%- include('../partials/footer') %>
  </body>
  </html>