<!DOCTYPE html>
<html lang="es">
    
<!-- INCLUDES HEAD-->
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/css/styles.css">

<%- include('../partials/head') %>

</head>
  <body>
     <!-- INCLUDES HEADER-->
     <%- include('../partials/headergeneral') %>
<br>
<br>

<h2 style="text-align: center;" class="iniciarSesion>"><strong>Iniciar Sesión</h2></strong>
<div class="login-page">
    <div class="form">
      <% if (locals.errors && errors.userCreado) { %>
        <h3 style="color:green"> <%= errors.userCreado.msg %> </h3> 
      <% } %>
      <form class="login-form" action="/users/login" method="POST">
        <% if (locals.errors && errors.email) { %>
          <h3 style="color:green"> <%= errors.email.msg %> </h3> 
        <% } %>

        <input type="email" placeholder="email" name="email"  value="<%= locals.old && old.email %>"/>
        <input type="password" placeholder="password" name="contrasena" />
        <label for=""> Recordar mi Usuario</label>
        <input type="checkbox" name="recordame" />
        <button>login</button>
        <p class="message">No está registrado? <a href="/users/registro">Crear usuario</a></p>
      </form>
    </div>
  </div>
  <!-- INCLUDES FOOTER-->
  <%- include('../partials/footer') %>
  <script src="/js/scripts.js"></script>
  </body>
  </html>