<!DOCTYPE html>
<html lang="es">

<!-- INCLUDES HEAD-->

<head>
  <title>Registro</title>
  <link rel="stylesheet" href="/css/styles.css">

  <%- include('../partials/head') %>

</head>

<body>
  <!-- INCLUDES HEADER-->
  <%- include('../partials/header') %>
    <br>
    <br>
    <h2 style="text-align: center;" class="iniciarSesion>"><strong>Perfil del Usuario</h2></strong>
    <div class="login-page">
      <div class="form">
        <div class="perfil">
          <div class="pernom"> Nombre: </div>
          <div class="perdato">
            <%=usuario.nombre%>
          </div>
        </div>
        <br>
        <div class="perfil">
          <div class="pernom"> Apellido: </div>
          <div class="perdato">
            <%=usuario.apellido%>
          </div>
        </div>
        <br>
        <div class="perfil">
          <div class="pernom"> Email: </div>
          <div class="perdato">
            <%=usuario.email%>
          </div>
        </div>
        <br>
        <div class="perfil">
          <div class="pernom"> Cumpleaños: </div>
          <div class="perdato">
            <%=usuario.cumpleanos%>
          </div>
        </div>
        <br>
        <div class="perfil">
          <div class="pernom"> Dirección: </div>
          <div class="perdato">
            <%=usuario.direccion%>
          </div>
        </div>
        <br>
        <div class="perfil">
          <div class="pernom"> Contraseña: </div>
          <div class="perdato">
            <%=usuario.contrasena%>
          </div>
        </div>
        <br>

        <a href="/users/edit/<%=usuario.id%>">
          <button type="submit">Editar Cuenta</button>
        </a>
        <br>
        <br>
        <form action="/users/delete/<%=usuario.id%>/?_method=DELETE" method="post">
          <button>Borrar Cuenta</button>
        </form>
        </p>


      </div>
    </div>
    <!-- INCLUDES FOOTER-->
    <%- include('../partials/footer') %>