<!DOCTYPE html>
<html lang="es">

<!-- INCLUDES HEAD-->

<head>
  <title>Perfil</title>
  <link rel="stylesheet" href="/css/styles.css">

  <%- include('../partials/head') %>


</head>

<body>
  <!-- INCLUDES HEADER-->
  <%- include('../partials/headergeneral')%>

    <br>
    <br>
    <h2 style="text-align: center;" class="iniciarSesion>"><strong>Perfil de <%=usuario.nombre%>
    </h2></strong>
    <div class="login-page">
      <div class="form">
        <div class="perfil">
          <img id="imagen-producto" src="/images/avatars/<%=usuario.avatar %>">
        </div>
        <br>
        <br>
        <div class="perfil">
          <div class="pernom"> Nombre: </div>
          <div class="perdato">
            <%=usuario.nombre%>
          </div>
        </div>
        <br>
        <div class="perfil">
          <div class="pernom"> Apellido: </div>
          <div class="perdato">
            <%=usuario.apellido%>
          </div>
        </div>
        <br>
        <div class="perfil">
          <div class="pernom"> Email: </div>
          <div class="perdato">
            <%=usuario.email%>
          </div>
        </div>
        <br>
        <div class="perfil">
          <div class="pernom"> Cumpleaños: </div>
          <div class="perdato">
            <%=usuario.cumpleanos%>
          </div>
        </div>
        <br>
        <div class="perfil">
          <div class="pernom"> Dirección: </div>
          <div class="perdato">
            <%=usuario.direccion%>
          </div>
        </div>
        <br>
        <div class="perfil">
          <div class="pernom"> Contraseña: </div>
          <div class="perdato">
            *****
          </div>
        </div>

        <div class="card mb-5">
          <div class="card-header">
              Mis Pedidos
          </div>
          <div class="card-body">
              <table class="table table-responsive-md mb-0">
                  <thead>
                      <tr>
                          <th style="width: 50px;">
                              <strong>#</strong>
                          </th>
                          <th class="th-lg">
                              <strong>Fecha</strong>
                          </th>
                          <th class="th-lg">
                              <strong>Dirección de envío</strong>
                          </th>
                          <th class="th-lg">
                              <strong>Pago</strong>
                          </th>
                          <th>
                              <strong>Total</strong>
                          </th>
                          <th style="width: 50px;"></th>
                      </tr>
                  </thead>
   
                  
                  <tbody>
                    <% for (let i=0; i<pedidos.length; i++){%> 
                      <tr>
                          <th scope="row"><%= i + 1 %></th>
                          <td><%= pedidos[i].createdAt %></td>  .
                          <td><%= pedidos[i].direccion%></td>
                          <td><%= pedidos[i].paymentMethod%></td>
                          <td>$<%= pedidos[i].total%></td>
                          <td><a class="btn btn-warning btn-sm" href="<%= `/products/pedido/${pedidos[i].id}` %>"><i class="fas fa-eye"></i></a>
                          </td>
                      </tr>
                      <% } %>
                  </tbody>
              </table>
          </div>
      </div>







        <br>

        <a href="/users/edit/<%=usuario.id%>">
          <button type="submit">Editar Cuenta</button>
        </a>
        <br>
        <br>
        <form action="/users/delete/<%=usuario.id%>/?_method=PUT" method="post" onsubmit="return confirm('Esta seguro que desea Eliminar su perfil?');">
          <button>Borrar Cuenta</button>
        </form>
        </p>


      </div>
    </div>
    <!-- INCLUDES FOOTER-->
    <%- include('../partials/footer') %>
    <script src="/js/scripts.js"></script>
  </body>
  </html>