<!DOCTYPE html>
<html lang="es">
    
<!-- INCLUDES HEAD-->
<head>
  <title>Crear Producto</title>
  <link rel="stylesheet" href="/css/styles.css">

<%- include('../partials/head') %>

</head>
  <body>
     <!-- INCLUDES HEADER-->
   <%- include('../partials/headeradmin') %>
    <main>
      <br>
        <h2 style="text-align: center;" class="iniciarSesion>"><strong>Añadir Producto</h2></strong>
        <div class="login-page">
            <div class="form">
              <form class="register-form" action="/products/crearproducto" method="POST" enctype="multipart/form-data">
                <input type="text" placeholder="Nombre Producto" name="name"required />
                <input type="number" placeholder="Precio" name="price"required/>
                <div class="register-form">
                <br>
                <label class="register-form" for="colores">Colores:</label>
                <select name="colores" id="colores">
                    <% for(let i=0;i<colores.length;i++) { %> 
                        <option value="<%=colores[i].id %>"><%=colores[i].nombre %></option>
                    <% } %> 
                  </select>
                <br>
                <br>
                <label class="register-form" for="temporadas">Temporadas:</label>
                <select name="temporadas" id="temporadas">
                    <% for(let i=0;i<temporadas.length;i++) { %> 
                        <option value="<%=temporadas[i].id %>"><%=temporadas[i].nombre %></option>
                    <% } %> 
                  </select>
                <br>
                <br>
                <label class="register-form" for="talla">Talla:</label>
                <select name="talles" id="talles">
                    <% for(let i=0;i<talles.length;i++) { %> 
                        <option value="<%=talles[i].id %>"><%=talles[i].medida %></option>
                    <% } %> 
                  </select>
                <br>
                <br>
                <label class="register-form" for="category">Categoría:</label>
                <select name="category" id="category">
                  <% for(let i=0;i<categorias.length;i++) { %> 
                      <option value="<%=categorias[i].id %>"><%=categorias[i].nombre %></option>
                  <% } %> 
                </select>
                <br>
                <br>
              </div>
              <div class="register-form">
                <br>
              <div class="col-12">
                <label for="description" class="form-label">Descripción:</label>
                <textarea name="description" id="description" class="form-input"></textarea>
              </div>
              <h4 class="subtitulos2">Foto de Producto, seleccionar imagen</h4>
              <input type="file" name="imageProduct" accept="" />
              <button type="submit" id="boton-agregar-carrito">CREAR PRODUCTO</button>
            </form>
            </div>
          </div>
    
    </main>
  <!-- INCLUDES FOOTER-->
  <%- include('../partials/footer') %>

</body>

</html>