<!DOCTYPE html>
<html lang="es">
    
<!-- INCLUDES HEAD-->
<head>
  <title>Detalle Producto</title>
  <link rel="stylesheet" href="/css/styles.css">

<%- include('../partials/head') %>

</head>
  <body>
     <!-- INCLUDES HEADER-->
   <%- include('../partials/headergeneral') %>
    <main>
        <br>
        <br>
    <div id="producto-principal">
        <div class="producto-principal-1">
            <img id="imagen-producto" src="/images/<%=producto.imagen %>">
        </div>
        <div class="producto-principal-1-info">
            <div id="caracteristicas">
                <h2 class="nombre-producto"><strong><%=producto.nombre %></h2></strong>
                <br>
                <button id="heartIcon" type="button" onclick="alert('Gracias por tu like!')" class="far fa-heart"></button>
                <br>
            <div id="opciones-producto">
                        <strong><p class="opciones">COLOR</p></strong>
                        <select class="opciones-seleccionadas" name="Color">
                            <option value="Blanco">Blanco</option>
                            <option value="Negro">Negro</option>
                            <option value="Azul">Azul</option>
                            <option value="Rosado">Rosado</option>
                        </select><br>

                        <strong><p class="opciones">TALLA</p></strong>
                        <select class="opciones-seleccionadas" name="tamaño">
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
            
                        </select><br>
                        <!-- 
                        <strong><p class="opciones">CANTIDAD</p></strong>
                        <select class="opciones-seleccionadas" name="cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select><br>-->
                        </select>
                        <p id="precio-producto">PRECIO: $<%=producto.precio %></p>
                        <a href="/products/cart/"><button type="button" class="agregar_carrito" id="boton-agregar-carrito" data-id="<%=producto.id %>">AGREGAR AL CARRITO</button></a>
                        <br> 
                        <br>
                        <% if (locals.userLogged && userLogged.tipoUsuario == 'admin') { %>
                        <form action="/products/delete/<%=producto.id %>?_method=DELETE" method="POST" style="display: inline-flex" onsubmit="return confirm('Esta seguro que desea eliminarlo?');">
							<button type="submit" id="boton-agregar-carrito">ELIMINAR</button>
						</form>
                        <br>
                        <br>
                        <a style="text-align: center" href="/products/editarproducto/<%=producto.id %>" id="boton-agregar-carrito">EDITAR PRODUCTO</a>
                        <% } %>
                </div>

                <br>      
                <div class="instrucciones_lavado"><h5><strong>Instrucciones de lavado</h5></strong>
                    <br>  
                    <figure>
                    <figure title="Lavar a mano"><img src="/images/instrucciones-lavado_01.webp" width="22" height="22" /></figure>
                    <figure title="Lavar maximo a 30º grados"> <img src="/images/instrucciones-lavado_03.webp" width="22" height="22" /></figure>
                    <figure title="No utilizar blanqueador"> <img src="/images/instrucciones-lavado_05.webp" width="22" height="22" /></figure>
                    <figure title="Planchado muy suave"> <img src="/images/instrucciones-lavado_19.webp" width="22" height="22" /></figure>
                    <figure title="No usar secadora"> <img src="/images/instrucciones-lavado_07.webp" width="22" height="22" /></figure>
                    <figure title="Tender húmedo y a la sombra"> <img src="/images/instrucciones-lavado_09.webp" width="22" height="22" /></figure>
                    <figure title="No dejar en remojo"> <img src="/images/instrucciones-lavado_12.webp" width="22" height="22" /></figure>
                    <figure title="No escurrir"> <img src="/images/instrucciones-lavado_17.webp" width="22" height="22" /></figure>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div id="descripcion-producto">
        <div id="texto-descripcionproducto">
            <h2 class="nombre-producto"><strong><%=producto.nombre%></h2></strong>
            <br>
            <strong><p><%=producto.descripcion%></p></strong>
        </div>
    </div>
    <div id="productos-quetegusten">
    <h3 class="nombre-quizas"><strong>Tambíen podría interesarte..</h3></strong>
    </div>
    <div id="productos-quetegusten">
        <div class="un-productos-quetegusten">
            <a href="/products/detalleproducto/2" class="link"><img src="/images/Top-perla1.jpg" alt="" class="imagen-producto-quetegusten"width="300px" height="300px"></a>
            <p class="nombre-producto-quetegusten">TOP PERLA</p>
        </div>
        <div class="un-producto-quetegusten">
            <a href="/products/detalleproducto/3" class="link"><img src="/images/Khalo2.png" alt="" class="imagen-producto-quetegusten"width="300px" height="300px"></a>
            <p class="nombre-producto-quetegusten">CARTERA KHALO</p>
        </div>
        <div class="un-producto-quetegusten">
            <a href="/products/detalleproducto/4" class="link"><img src="/images/Khalo3.png" alt="" class="imagen-producto-quetegusten"width="300px" height="300px"></a>
            <p class="nombre-producto-quetegusten">BLUSON STYLE</p>
        </div>
    </div>
    </main>
  <!-- INCLUDES FOOTER-->
  <%- include('../partials/footer') %>

  <script src="/js/scripts.js"></script>
</body>
</html>